springdoc:
  default-produces-media-type: application/json

logging:
  level:
    com.github.sebastianp265.notekeeper: DEBUG

server:
  error:
    include-message: always # Unsafe - only for development

---

spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:mem:db
    username: sa
    password: sa
    driverClassName: org.h2.Driver

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

  jpa:
    open-in-view: false